.header {
  /* position: absolute; */
  display: flex;
  width: 100%;
  /* height: 54.5363rem; */
  padding: 3.5rem;
  align-items: center;
  justify-content: space-between;
}
.header img {
  width: 7rem;
  height: 2.1rem;
}
.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  font-family: var(--OpenSans);
  font-weight: 500;
  line-height: 1.3531rem;
  font-size: 1.0625rem;
}
.login {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: var(--OpenSans);
  font-weight: 500;
  font-size: 1.0625rem;
}
.login .signUp {
  border: 1px solid #ffa90f;
  color: #ffa90f;
  padding: 0.5625rem 1.3125rem;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.6;
}

.headerBack {
  background-image: url('../assets/Fundo_Header.png');
  background-position: right top;
  background-position-x: 40rem;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: row;
}
.info img {
  border: 0;
}
.info .text h3 {
  color: #df6951;
  font-family: var(--Poppins);
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}
